#shellcheck disable=SC2148,SC2155
# do not add any sensitive / secret information to this file
export KUBECONFIG=$(expand_path ./ansible/kubeconfig.yaml)
export GITGUARDIAN_API_KEY=$(cat ~/.gitguardian.token)
