#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./kubernetes/main/kubeconfig):$(expand_path ./kubernetes/network/kubeconfig):$(expand_path ./kubernetes/registry/kubeconfig)"
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)
# Venv
export VIRTUAL_ENV="$(expand_path ./.venv)"
# Ansible
export ANSIBLE_COLLECTIONS_PATH=$(expand_path ./.venv/galaxy)
export ANSIBLE_ROLES_PATH=$(expand_path ./.venv/galaxy/ansible_roles)
export ANSIBLE_VARS_ENABLED="host_group_vars"
PATH_add "$(expand_path ./.venv/bin)"
