/.github/renovate**
/charts
*.sops.*
gotk-components.yaml
/ansible/manifests/calico/custom-resources.yaml
/ansible/manifests/calico/tigera-operator.yaml
/cluster/core/calico-system/calico-config.yaml
/cluster/core/calico-system/tigera-operator.yaml
/cluster/apps/default/homer/configmap.yaml
/cluster/apps/kube-system/democratic-csi/zfs-nfs-secret.yaml
/cluster/apps/monitoring/prometheus-dnssec-exporter/prometheus-dnssec-secret.yaml
/cluster/base/cluster-secrets.yaml
/cluster/base/flux-system/gotk-components.yaml
/cluster/core/cert-manager/secret.enc.yaml
/cluster/core/democratic-csi/zfs-nfs-secret.yaml
