/cluster/apps/default/bookstack/secret.sops.yaml
/cluster/apps/default/homer/configmap.yaml
/cluster/apps/kube-system/democratic-csi/zfs-nfs-secret.yaml
/cluster/apps/monitoring/prometheus-dnssec-exporter/prometheus-dnssec-secret.yaml
/cluster/apps/velero/velero/secret.sops.yaml
/cluster/base/cluster-secrets.yaml
/cluster/core/cert-manager/secret.enc.yaml
/cluster/core/democratic-csi/zfs-nfs-secret.yaml
