---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  registry: quay.io
  imagePath: calico
  calicoNetwork:
    # Note: The ipPools section cannot be modified post-install.
    ipPools:
      - blockSize: 26
        cidr: 10.42.0.0/16
        encapsulation: "VXLANCrossSubnet"
        natOutgoing: Enabled
        nodeSelector: all()
      - blockSize: 116
        cidr: fdd5:aa8:9535:42::/108
        natOutgoing: Enabled
        nodeSelector: all()
  nodeMetricsPort: 9091
  typhaMetricsPort: 9093
