---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    diskSelector:
      model: SAMSUNG MZ7LH512
  network:
    hostname: k3s2
    interfaces:
      - addresses:
          - 192.168.20.23/24
          - fdd5:aa8:9535:20::23/64
        dhcp: false
        interface: eno1
        mtu: 1500
        routes:
          - gateway: 192.168.20.1
            network: 0.0.0.0/0
  type: worker
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 200GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: extra
provisioning:
  diskSelector:
    match: system_disk
  grow: true
  minSize: 200GB
  maxSize: 300GB
filesystem:
