---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    diskSelector:
      model: SAMSUNG MZ7LH512
    image: factory.talos.dev/metal-installer/ecd7f2ca59a064a6cb0c0bbb41ec1d1e017b3d034315c0efc1ac19947e7b6fc4:v1.13.0
  network:
    hostname: k3s2
    interfaces:
      - addresses:
          - 192.168.20.23/24
          - fdd5:aa8:9535:20::23/64
        dhcp: false
        interface: eno1
        mtu: 1500
        routes:
          - gateway: 192.168.20.1
            network: 0.0.0.0/0
  sysctls:
    net.ipv6.conf.eno1.autoconf: "0"           # disable IPv6 autoconfig
  type: worker
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 200GB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: extra
provisioning:
  diskSelector:
    match: system_disk
  grow: true
  minSize: 200GB
  maxSize: 300GB
filesystem:
