---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    diskSelector:
      model: Samsung SSD 860
  network:
    hostname: k3sm
    interfaces:
      - dhcp: false
        interface: eno1
        mtu: 1500
        vlans:
          - addresses:
              - 192.168.20.18/24
              - fdd5:aa8:9535:20::18/64
            routes:
              - gateway: 192.168.20.1
                network: 0.0.0.0/0
            vlanId: 20
  nodeTaints:
    node-role.kubernetes.io/control-plane: :NoSchedule
  type: controlplane
