---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    disk: /dev/vda
    image: factory.talos.dev/metal-installer/d36031c3e4a95a935eb2a38ebafbe0ce976d438e05c11f3642c34adf404868a1:v1.12.7
  network:
    hostname: k3sv
    interfaces:
      - addresses:
          - 192.168.20.20/24
          - fdd5:aa8:9535:20::20/64
        dhcp: false
        interface: enp1s0
        mtu: 1500
        routes:
          - gateway: 192.168.20.1
            network: 0.0.0.0/0
  nodeTaints:
    node-role.kubernetes.io/control-plane: :NoSchedule
  type: controlplane
