---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    disk: /dev/nvme0n1
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: rk1
