---
machine:
  install:
    disk: /dev/nvme0n1
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: rk2
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
# FIXME: copy bjw-s net0 config
links:
  - end0
bondMode: active-backup
miimon: 100
mtu: 1500
addresses:
  - address: 192.168.20.35/24
  - address: fdd5:aa8:9535:20::35/64
routes:
  - gateway: 192.168.20.1
  - gateway: fdd5:aa8:9535:20::1
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.30
vlanID: 30
parent: bond0
