#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /tmp local0
    daemon
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    timeout http-request    10s
    timeout queue           20s
    timeout connect         10s
    timeout client          1h
    timeout server          1h
    timeout http-keep-alive 10s
    timeout check           10s
#---------------------------------------------------------------------
# ceph-metrics frontend
#---------------------------------------------------------------------
frontend hass-http
    bind *:8123
    mode http
    default_backend hass

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats admin if TRUE

frontend prometheus
    bind *:8405
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    no log


#---------------------------------------------------------------------
# hass backend
#---------------------------------------------------------------------
backend hass
    mode http
    option http-server-close
    timeout tunnel 1h
    option httpchk
    http-check expect ! rstatus ^5
    server homeassistant.home.arpa ${HASS_IPV4}:8123 check
