---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    disk: /dev/vda
  network:
    hostname: harbor
    interfaces:
      - addresses:
          - 192.168.20.65/24
        deviceSelector:
          hardwareAddr: 52:54:00:72:ea:ea
        dhcp: false
        mtu: 1500
        routes:
          - gateway: 192.168.20.1
            network: 0.0.0.0/0
  type: controlplane
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 32Gi
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: extra
provisioning:
  diskSelector:
    match: system_disk
  grow: true
  minSize: 32Gi
  maxSize: 64Gi
filesystem:
  type: xfs
