---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    disk: /dev/vda
  network:
    hostname: harbor
    interfaces:
      - addresses:
          - 192.168.20.65/24
        dhcp: false
        interface: eno1
        mtu: 1500
        routes:
          - gateway: 192.168.20.1
            network: 0.0.0.0/0
  type: controlplane
